gen/xsd/entity_type.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="http://www.moka-dev.com/entity_type"
  xmlns="http://www.moka-dev.com/entity_type"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" >

  <!-- Define Entity's Type. -->
  <xs:complexType name="EntityType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">

      <!-- Start Generated Code -->

      <xs:element name="AABBCollider" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="width" type="xs:float" use="optional" />
        <xs:attribute name="height" type="xs:float" use="optional" />
        <xs:attribute name="offsetX" type="xs:float" use="optional" />
        <xs:attribute name="offsetY" type="xs:float" use="optional" />
        <xs:attribute name="collisionTrigger" type="xs:string" use="optional" />
        <xs:attribute name="isTrigger" type="xs:boolean" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="Bullet" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="speed" type="xs:integer" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="Camera" minOccurs="0" maxOccurs="1"><xs:complexType>
      </xs:complexType></xs:element>

      <xs:element name="CircleCollider" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="radius" type="xs:float" use="optional" />
        <xs:attribute name="collisionTrigger" type="xs:string" use="optional" />
        <xs:attribute name="isTrigger" type="xs:boolean" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="Controllable" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="topSpeed" type="xs:integer" use="optional" />
        <xs:attribute name="acceleration" type="xs:integer" use="optional" />
        <xs:attribute name="constrainX" type="xs:boolean" use="optional" />
        <xs:attribute name="constrainY" type="xs:boolean" use="optional" />
        <xs:attribute name="impulse" type="xs:float" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="Interval" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="trigger" type="xs:string" use="required" />
        <xs:attribute name="time" type="xs:double" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="LookAt" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="target" type="xs:string" use="required" />
      </xs:complexType></xs:element>

      <xs:element name="SatCollider" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="vertices" type="xs:string" use="optional" />
        <xs:attribute name="collisionTrigger" type="xs:string" use="optional" />
        <xs:attribute name="isTrigger" type="xs:boolean" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="Shooting" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="trigger" type="xs:string" use="optional" />
        <xs:attribute name="bulletPrefab" type="xs:string" use="required" />
        <xs:attribute name="button" type="xs:string" use="required" />
      </xs:complexType></xs:element>

      <xs:element name="Sprite" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="texture" type="xs:string" use="required" />
        <xs:attribute name="tintR" type="xs:float" use="optional" />
        <xs:attribute name="tintG" type="xs:float" use="optional" />
        <xs:attribute name="tintB" type="xs:float" use="optional" />
        <xs:attribute name="tintA" type="xs:float" use="optional" />
        <xs:attribute name="clipTop" type="xs:float" use="optional" />
        <xs:attribute name="clipRight" type="xs:float" use="optional" />
        <xs:attribute name="height" type="xs:float" use="optional" />
        <xs:attribute name="width" type="xs:float" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="DirectionalMovement" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="angleTrigger" type="xs:string" use="optional" />
        <xs:attribute name="speed" type="xs:float" use="optional" />
        <xs:attribute name="ignoreRotation" type="xs:boolean" use="optional" />
        <xs:attribute name="lockDirection" use="optional"><xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NONE" />
            <xs:enumeration value="VERTICAL" />
            <xs:enumeration value="HORIZONTAL" />
          </xs:restriction>
        </xs:simpleType></xs:attribute>
        <xs:attribute name="rotationSpeed" type="xs:float" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="ShipMovement" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="boundLeft" type="xs:float" use="optional" />
        <xs:attribute name="speed" type="xs:float" use="optional" />
        <xs:attribute name="boundRight" type="xs:float" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="Debugger" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="frequency" type="xs:double" use="optional" />
        <xs:attribute name="option" use="optional"><xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NONE" />
            <xs:enumeration value="POSITION" />
            <xs:enumeration value="ROTATION" />
            <xs:enumeration value="SIZE" />
          </xs:restriction>
        </xs:simpleType></xs:attribute>
      </xs:complexType></xs:element>

      <xs:element name="SpotOn" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="target" type="xs:string" use="required" />
        <xs:attribute name="bottom" type="xs:Float" use="optional" />
        <xs:attribute name="factor" type="xs:float" use="optional" />
        <xs:attribute name="left" type="xs:Float" use="optional" />
        <xs:attribute name="right" type="xs:Float" use="optional" />
        <xs:attribute name="top" type="xs:Float" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="DestroyOnLeave" minOccurs="0" maxOccurs="1"><xs:complexType>
      </xs:complexType></xs:element>

      <xs:element name="Health" minOccurs="0" maxOccurs="1"><xs:complexType>
        <xs:attribute name="damageTrigger" type="xs:string" use="optional" />
        <xs:attribute name="destroyTrigger" type="xs:string" use="optional" />
        <xs:attribute name="hitPoints" type="xs:float" use="optional" />
        <xs:attribute name="defense" type="xs:float" use="optional" />
      </xs:complexType></xs:element>

      <xs:element name="EnemyMovementController" minOccurs="0" maxOccurs="1"><xs:complexType>
      </xs:complexType></xs:element>

      <!-- End Generated Code -->

      <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>

    <xs:attribute name="group" type="xs:string" use="optional" />
    <xs:attribute name="layer" type="xs:int" use="optional" default="0" />
    <xs:attribute name="position" type="xs:string" use="required" default="0, 0" />
    <xs:attribute name="rotation" type="xs:float" use="required" default="0" />
    <xs:attribute name="size" type="xs:string" use="optional" default="100, 100" />
  </xs:complexType>
</xs:schema>